main {
    padding: 3rem 4rem;
}

.form {
    display: grid;
    grid-template: 55px 55px / 1fr 1fr ;
    gap: 2rem;
}

.form--input {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
    grid-column: 1 / -1;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}

.meme--image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    position: relative
}

.memeImage {
    max-width: 100%;
}

.meme--image h2 {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow:
                    3px 3px 0 #000,
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                    1px 1px 0 #000;
}

.meme--image .top--text {
    top: 8%;
}

.meme--image .bottom--text {
    bottom: 2%;
}